.column {
    float: right;
    width: 25%;
    border: 5px lightpink;
    border-style: solid;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }